<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="cdfmonitor" name="CDF Monitor" schema="schema/cdfmonitor.exsd"/>
   <extension
         id="com.sg.cdf.core.app.monitor"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="com.sg.cdf.monitor.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.sg.cdf.monitor.Perspective"
            id="com.sg.cdf.core.perspective"
            name="Monitor">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="com.sg.cdf.monitor.ui.MonitorView"
            icon="icons/sample3.gif"
            id="com.sg.cdf.monitor.MonitorView"
            name="Progress Monitor"
            restorable="false">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:view?after=additions">
         <command
               commandId="com.sg.cdf.core.command.refresh"
               style="push">
         </command>
         <command
               commandId="com.sg.cdf.core.command.clear"
               style="toggle">
         </command>
         <command
               commandId="com.sg.cdf.core.command.removefinished"
               style="push">
         </command>
         <command
               commandId="com.sg.cdf.core.command.restart"
               style="push">
         </command>
         <command
               commandId="com.sg.cdf.core.command.remove"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.sg.cdf.core.command.refresh"
            name="Refresh">
      </command>
      <command
            id="com.sg.cdf.core.command.clear"
            name="Hide Finished Job">
      </command>
      <command
            id="com.sg.cdf.core.command.removefinished"
            name="Remove Finished Job">
      </command>
      <command
            id="com.sg.cdf.core.command.remove"
            name="Remove Job">
      </command>
      <command
            id="com.sg.cdf.core.command.restart"
            name="Restart">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.sg.cdf.monitor.command.RefreshMonitor"
            commandId="com.sg.cdf.core.command.refresh">
         <enabledWhen>
            <with
                  variable="activePartId">
               <equals
                     value="com.sg.cdf.monitor.MonitorView">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.sg.cdf.monitor.command.ClearFinishedJob"
            commandId="com.sg.cdf.core.command.clear">
         <enabledWhen>
            <with
                  variable="activePartId">
               <equals
                     value="com.sg.cdf.monitor.MonitorView">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.sg.cdf.monitor.command.RemoveFinishedJob"
            commandId="com.sg.cdf.core.command.removefinished">
         <enabledWhen>
            <with
                  variable="activePartId">
               <equals
                     value="com.sg.cdf.monitor.MonitorView">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.sg.cdf.monitor.command.RemoveJob"
            commandId="com.sg.cdf.core.command.remove">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <test
                        args="canremove"
                        property="com.sg.cdf.core.job"
                        value="true">
                  </test>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.sg.cdf.monitor.command.RestartJob"
            commandId="com.sg.cdf.core.command.restart">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <test
                        args="canrestart"
                        property="com.sg.cdf.core.job"
                        value="true">
                  </test>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.sg.cdf.monitor.command.JobPropertyTester"
            id="com.sg.cdf.core.job"
            namespace="com.sg.cdf.core"
            properties="job"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         id="mailapp.entrypoints"
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            applicationId="com.sg.cdf.core.app.monitor"
            id="cdf.monitor.entrypoint"
            path="/cdfmonitor">
      </entrypoint>
   </extension>

</plugin>
